<div id="main-wrapper">
    <app-navbar></app-navbar>
    <app-aside></app-aside>
    <div class="page-wrapper">

        <div class="container-fluid">
            <!-- <app-breadcrumbs></app-breadcrumbs> -->
            <router-outlet></router-outlet>

            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div> -->

            <app-rsidebar></app-rsidebar>
        </div>
        <app-footer></app-footer>
    </div>
</div>