h4 {
    margin-bottom: -115px;
    font-size: 0.85em;
}

.dona {
    height: 180px;
}

.color1 {
    color: rgb(238, 217, 171);
}

.color2 {
    color: rgb(171, 189, 238);
}

.up {
    color: darkgreen;
    font-weight: bold;
}

.down {
    color: darkred;
    font-weight: bold;
}