<div class="r-aside">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick"></span>Embarques en el mes</h4>
                    <div class="flot-chart">
                        <div class="sales-bars-chart" style="height: 320px;"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Easy Pie Chart</h4>
                    <h6 class="card-subtitle">Add code in span <code> class="chart easy-pie-chart-1"</code> to create chart</h6>
                    <div class="row">
                        <div class="col-lg-2 col-md-6 m-b-30">
                            <div class="chart easy-pie-chart-1" data-percent="75"> <span class="percent">8/100</span> </div>
                        </div>
                        <div class="col-lg-2 col-md-6 m-b-30">
                            <div class="chart easy-pie-chart-2" data-percent="75"> <span class="percent">75</span> </div>
                        </div>
                        <div class="col-lg-2 col-md-6 m-b-30">
                            <div class="easy-pie-chart-3 chart pie-chart" data-percent="25"> <span>25.00 <br>
                              <small class="text-muted">/100mb</small></span> </div>
                        </div>
                        <div class="col-lg-2 col-md-6 m-b-30">
                            <div class="chart easy-pie-chart-4" data-percent="75"> <span class="percent">8/100</span> </div>
                        </div>
                        <div class="col-lg-2 col-md-6 m-b-30">
                            <div class="chart easy-pie-chart-5" data-percent="75"> <span class="percent">75</span> </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="easy-pie-chart-6 chart pie-chart" data-percent="25"> <span>25.00 <br>
                            <small class="text-muted">/100mb</small></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>