<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Aduana {{aduana}} ({{refeServ.aduanasa[0].anom}})</b> <span class="pull-right">{{refeServ.aduanasa[0].atot}} embarques por esta aduana</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                          <h3> &nbsp;<b class="text-danger">Representa el {{refeServ.aduanasa[0].apor}}% en octubre del 2018</b></h3>
                      </address>
                    </div>
                    <!-- <div class="pull-right text-right">
                        <address>
                          <h3>To,</h3>
                          <h4 class="font-bold">Gaala & Sons,</h4>
                          <p class="text-muted m-l-30">E 104, Dharti-2,
                              <br/> Nr' Viswakarma Temple,
                              <br/> Talaja Road,
                              <br/> Bhavnagar - 364002</p>
                          <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> 23rd Jan 2017</p>
                          <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2017</p>
                      </address>
                    </div> -->
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-left">Referencia</th>
                                    <th>Pedimento</th>
                                    <th class="text-left">Cliente</th>
                                    <th class="text-left">Pago</th>
                                    <th class="text-left">Opera.</th>
                                    <th class="text-left">Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let refe of refeServ.refesa">
                                    <td class="text-left"><a [routerLink]="['/pedime', refe.NUM_REFE]">{{refe.NUM_REFE}}</a></td>
                                    <td>{{refe.ADU_DESP}} {{refe.PAT_AGEN}} {{refe.NUM_PEDI}}</td>
                                    <td class="text-left">{{refe.NOM_IMP}}</td>
                                    <td class="text-left">{{refe.FEC_PAGO}}</td>
                                    <td class="text-left">{{refe.OPERA}}</td>
                                    <td class="text-left"><a [routerLink]="['/estatus', refe.NUM_REFE]">{{refe.EDOR}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $13,848</p>
                        <p>vat (10%) : $138 </p>
                        <hr>
                        <h3><b>Total :</b> $13,986</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>